body {
    background-color: lightskyblue;
}
@media (min-width: 768px) {
    .pizzas {
    display: flex;
    
}
}   

.medium {
    background-color: orange;
    border-radius: 0.80cm;
    width: fit-content;
    padding: 1em;
    margin: 1em;
}
.large {
    background-color: orangered;
    border-radius: 0.80cm;
    width: fit-content;
    padding: 1em;
    margin: 1em;
}
.small {
    background-color: mediumvioletred;
    border-radius: 0.80cm;
    width: fit-content;
    padding: 1em;
    margin: 1em;
}
.footer {
    background-color: yellowgreen;
    border-radius: 0.80cm;
    padding: 1em;
    margin: 1em;
    
}